h1, h2, h3{
    color: #037503;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    width: auto/9; /* ie8 */
    border: 5px solid #037503;
    margin-left: -5px;
    }

.botnav{
    padding:10px;
    background-color: #adc7ff71;
    border-radius: 1em;
    width: fit-content;
     }

 
    

    @media only screen and (min-width:1000px){
        body{background-color: #a8d9f9b9;}
        p{color:#000000;}
    }



        @media only screen and (max-width: 600px) {
            body {background-color:#c1c1c18e;}
            p {color:#000000;}
            .row1{margin: 10px;}
            .banner{display: none;}
        
        nav, a {
            display: block;
            size-adjust: 100%;
            padding: 10px;
        }
        .row1, .row3 {
            display: block;
            size-adjust: 100%;
            padding: 10px;
        }
        .span {
            display: none;
        }
       #bra{display: none;}
    
    }
        @media only screen and (min-width:1000px){
            body{background-color: #a8d9f9b9;}
            p{color:#000000;}
        }
        .navi {
        display: flex;
        flex-wrap: wrap;
        color: #000000;
        padding: 10px;
        border: 2px solid #037503;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: #adc7ff71;
        border-radius: 100px;
        width: fit-content;
        margin-top: 8px;
    }

    .bot{
        float: left ;
         }
    .qt{
        float: right;
        }

         .toptitle{
            padding: 10px;
            border: 2px solid #037503;
            text-align: center;
            border-radius: 100px;
        }

        .skipcont{
            background-color: #91d891;
            padding: 5px;
            border: 1px solid #000000;
            position: absolute;
            top: 30px;
            left: -999px; /*pushes it off screen*/
            }
    
            .skipcont:focus{
                left: 10px;
            }

            p , ul {font-family: 'Albert Sans', sans-serif;}

